 body {
            font-family: Arial, sans-serif; /* Gắn phông chữ chính */
            color: #333; /* Màu chữ chung */
            background-color:#f2f8f5; /* Màu nền trang */
        }

        h1 {
            color: white; /* Màu chữ tiêu đề chính */
            background-color: #225033; /* Màu nền tiêu đề chính */
            text-align: center;
        }

        h2, h3 {
            color: #502c4b; /* Màu chữ tiêu đề phụ */
            background-color: #ecf0f1; /* Màu nền tiêu đề phụ */
            padding: 8px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #2980b9;
        }

        a:hover {
            text-decoration: underline;
        }

        form {
            margin-top: 20px;
        }

        input[type="email"] {
            padding: 8px;
            font-size: 14px;
        }

        button {
            padding: 8px 12px;
            font-size: 14px;
            background-color: #3498db;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
